
<%= render :partial => 'searchbox'%>
<%= render :partial => 'report' %>

<p> **Text in <i style = "color:#DD3300">red</i> indicates issue in the Review or ReReview </p>
<p> **Review/ReReview Time marked as Invalid indicates that Review/ReReview did not happen within the respective due dates</p>
<p> **Review/ReReview Time marked as <i style = "color:#DD3300">None</i> indicates that Review/ReReview was never done</p>